[init]
	defaultBranch = main
[user]
	name = Timothy Lin
	email = timothy0336@hotmail.com
	signingkey = C1BD7FDB89BCB443
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
